@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    margin: 0;
    padding: 0;
}
body{
    background: #202124;
    font-family: roboto,sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.container_img{
    padding: 4px;
}
.logo_application{
    filter: invert(100%);
    width: 28px;
    height: 28px;
}
.logo_application:hover{
    border-radius: 50%;
    background-color: #3B3C3F;
}
.logo_compte:hover{
    border-radius: 50%;
    background-color: #3B3C3F;
}
.logo_compte{
    width: 40px;
    height: 40px;
}
a{
    margin: 1em;
    color: #fff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10%;
}
.input{
    border-radius: 40px;
    width: 450px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
    background-color: #202124;
    border: transparent;
}
.input:hover{
    background-color: #3B3C3F;
}
.container_input{
    border: 1px solid #5F6368;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
}
.container_input:hover{
    background-color: #3B3C3F;
}
.logo_google{
    margin-bottom: 20px;
}
button{
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
button:hover{
    border: 1px solid #5f6368;
}
footer{
    position:absolute;
    bottom: 0;
    background-color: #171717;
    width: 100%;
}
.france{
    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
    font-size: 15px;
    color: #9aa0a6;
    margin: 0;
}
.container_foot{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171717;
}
.link_foot{
    display: block;
    padding: 15px;
    white-space: nowrap;
    margin: 0;
    color: #999da2;
}
.sheet{
    width: 1em;
}
.container_link_footer{
    display: flex;
    flex-wrap: wrap; 
}
.margin_foot {
    margin-right: 10em;
}
.loupe{
    width: 20px;
    height: 20px;
}
.vocal{
    width: 3%;
    margin-right: 1em;
}